<h1>Incrementing <%= @fizz_buzz.name %></h1>

<h1><%= @fizz_buzz.result %></h1>
<h1><%= @fizz_buzz.result %></h1>
<h1><%= @fizz_buzz.result %></h1>


<%= link_to 'Back', fizz_buzz_path(@fizz_buzz) %>
